/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
--accent-color: #FF0070;
--accent-color-navigation:#FF0070;
--accent-color-nav-opacity:rgba(255, 0, 112, .4);
--title-color: #DB00FF;
--text-color-main:#f1b2ce;
--text-color-headings:#000028;
--background-color:#000028;
}

:root.theme-dark .page {
  --background-image : url(../images/cover-image-dark.png);
}

:root.theme-dark .page .header .decoration-rec::after {
  display: block;
}

:root.theme-dark .page .header .decoration-rec {
  display: flex;
}
