/*
  Переменные для вашего проекта
  и их переопределение под различные устройства

*/
:root {
  --accent-color: #FF0070;
  --accent-color-navigation:#FF0070;
  --accent-color-nav-opacity:rgba(255, 0, 112, .4);
  --title-color: #DB00FF;
  --text-color-main:#f1b2ce;
  --text-color-headings:#000028;
  --background-color:#000028;
  --padding__decorated-zone: 10px;
  --main-title-font-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --page-margin-bottom:40px;

}
.page { 
  --background-image : url(../images/cover-image-dark.png);

}

@media (width >= 768px) {
  :root {
    --padding__decorated-zone: 20px;
    --main-title-font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    --page-margin-bottom:60px;
  }
}